body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color : white;
    
}

/*div.background {
    /*background: url(background.png) repeat;*/
    /*border: 2px solid black*/
  
  
  div.transbox {
    text-align: center;
    justify-content : center;
    align-items: center;
    width: auto;
    height: 450px;
    top : 50%;
    left : 50%;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: black;
    opacity: 0.7;
  }
  
  /*div.transbox p {
    /*margin: 5%;*/
    /*font-weight: bold;
    color: black;
  }*/

h1 {
    text-align : center;
    font-weight: 700;
    margin-top: 120px;
    font-size: 48px;
    color : white;
    

}

h4{
    text-align : center;
    font-style : italic;
    font-family : cursive;
}


/*h4 {

    text-align: center;
    font-size: 20px;
    color : whitesmoke;
    font-weight: bold;

} */

/*p {
    text-align: center;
    color : white;
    font-size: 16px;
    font-weight: bold;
    
}*/


Link {
    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}

button {
    background-color: white;
    padding : 5px 20px;
    text-align : center;
    font-weight: bold;
}

label {
    color : white;
}

/*.animate {
    -webkit-animation: animatezoon 0.6s;
    animation : animatezoom 0.6s;

}
@-webkit-keyframes animatezoom {
    from{ -webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from{transform: scale(0)}
    to {transform: scale(1)}
}*/