body {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color : white;
    
}

table.center {
    align-items: center;
    border : 1px whitesmoke ;
    text-align: center;
    width : 100%;
    margin-right : auto;
    justify-content: center;
    display : table;
    
}
table.sec{
    
    margin-right : 50%;
    align-content: center;
    justify-content: center;
    width : 100%;
    display : table;
    margin-top: 10%;
    display : table;
}
form {
    text-align: center;
    color : white;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    justify-content: center;

    
}

button {
    background-color: white;
    padding : 5px 20px;
    text-align : center;
    font-weight: bold;
    align-items : center;
    float : center;
}

div.transbox {
    text-align: center;
    justify-content : center;
    align-items: center;
    width: auto;
    height: 450px;
    top : 50%;
    left : 50%;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: black;
    opacity: 0.7;
  }

  div.trans {
    text-align: center;
    justify-content : center;
    align-items: center;
    width: auto;
    height: 450px;
    top : 50%;
    left : 50%;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: black;
    opacity: 0.7;
  }
  label {
    text-align: left;
    justify-content : left;
    align-items: left;
    color : white;
    float : left;
    margin-left : 10px;
  }

  h3{ 
    text-align : center;
    margin-left : 10px;
    
  }